@model IEnumerable<CE.Data.models>

@using Microsoft.AspNetCore.Identity
@using CE.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <h1>
        Visits
        <small>Visit daily </small>
        <small>Visit daily Models </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Visits</a></li>
        <li class="active">Visit daily</li>
        <li class="active">Visit daily Models</li>
    </ol>
</section>
<hr />

<div>
    <form class="container" asp-action="Searchvisitdaily" method="post">

        <div class="row">
            <div class="col-md-6">
                <input type="date" name="startDate" class="form-control" placeholder="Start date">
            </div>
            <div class="col-md-6">
                <input type="date" name="endDate" class="form-control" placeholder="End date">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="searchvisitdaily" class="form-control" placeholder="Search...">
            </div>
            <div class="col-md-6">
                @Html.DropDownList("Users", ViewBag.Users as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control", @placeholder = "Field Officer" })
            </div>
        </div>
        <div class="row">
            <button type="submit" name="searchvisitdaily" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i> Search
            </button>
        </div>
    </form>
</div>
<div class="container">
    <div class="btn-group">
        <form asp-action="DownloadExcelDocumentvisitdaily" method="post">
            <button name="Exportvisitdaily" class="btn btn-primary" type="submit">Export</button>
        </form>

        <form asp-action="ImportExcelDocumentvisitdaily" method="post"
              enctype="multipart/form-data">
            <label for="file" class="btn">Select a file</label>
            <input class="hide" id="file" type="file" name="file" />
            <div id="file-name-container"></div>
            <button disabled id="submit-file-btn" class="btn btn-primary" name="Importdatavisitdaily" type="submit">Import</button>
        </form>
    </div>




</div>
<table class="table table-hover">
    <thead>
        <tr>

            <th>

                Brand
            </th>
            <th>
                Category
            </th>

            <th>
                Model
            </th>
            <th>
                Shelf share
            </th>
            <th>
                W/S
            </th>
            <th>
                Price 
            </th>
            <th>
                <a asp-action="Indexe" class="btn btn-block btn-primary">SAVE</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Namebrand)
            </td>

            <td>



            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShelfShare)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketShare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                <a asp-action="DeleteModels" asp-route-id="@item.Code" class="btn btn-block btn-danger" onclick="return confirm('Are you sure to delete this record?')">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
