@model IEnumerable<CAP.Data.models>
@using Microsoft.AspNetCore.Identity
@using CAP.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <h1>
        Visits
        <small>Visit daily </small>
        <small>Visit daily Models </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="#">Visits</a></li>
        <li class="active">Visit daily</li>
        <li class="active">Visit daily Models</li>
    </ol>
</section>
<hr />
<table class="table table-hover">
    <thead>
        <tr>

            <th>

                Brand
            </th>
            <th>
                Category
            </th>

            <th>
                Model
            </th>
            <th>
                Shelf share
            </th>
            <th>
                W/S
            </th>
            <th>
                Price
            </th>

            <th>
                <a asp-action="Index" class="btn btn-custon-rounded-three btn-danger">SAVE</a>

            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Namebrand)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Disc)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>

                @Html.TextBoxFor(modelItem => item.ShelfShare)
            </td>
            <td>
                @Html.TextBoxFor(modelItem => item.MarketShare)
            </td>
            <td>

                @Html.TextBoxFor(modelItem => item.Price)
            </td>

            

            <td>
                <a asp-action="DeleteModels" asp-route-id="@item.Code" class="btn btn-block btn-danger" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash-o"></i></a>
            </td>

        </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}