@model IEnumerable<CAP.Data.Visits>

@using Microsoft.AspNetCore.Identity
@using CAP.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <h1>
        <i class="fa fa-fw fa-qrcode"></i>
        Visits
        <small>Visit </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Visits</a></li>
        <li class="active">Visit</li>
    </ol>
</section>
<hr />

    <div>
        <form class="container" asp-action="Searchvisit" method="post">

            <div class="row">
                <div class="col-md-6">
                    <input type="date" name="startDate" class="form-control" placeholder="Start date">
                </div>
                <div class="col-md-6">
                    <input type="date" name="endDate" class="form-control" placeholder="End date">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="searchvisit" class="form-control" placeholder="Search...">
                </div>
                <div class="col-md-6">
                   

                    @Html.DropDownList("Users", ViewBag.Users as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control", @placeholder = "Field Officer" })
                </div>
            </div>
            <div class="col-md-push-4">
                <button type="submit" name="searchvisit" id="search-btn" class="btn btn-custon-rounded-three btn-danger">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
            
        </form>
    </div>
    <div class="container">
        <div class="btn-group">
            <form asp-action="DownloadExcelDocumentvisit" method="post">
                <button name="Exportvisitdaily" class="btn btn-custon-rounded-three btn-danger" type="submit">Export</button>
            </form>

            <form asp-action="ImportExcelDocumentvisit" method="post"
                  enctype="multipart/form-data">
                <label for="file" class="btn">Select a file</label>
                <input class="hide" id="file" type="file" name="file" />
                <div id="file-name-container"></div>
                <button disabled id="submit-file-btn" class="btn btn-custon-rounded-three btn-danger" name="Importdatavisitdaily" type="submit">Import</button>
            </form>
        </div>



       
    </div>
    <table class="table table-hover">
        <thead>
            <tr>

                <th>
                    Outlets
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    Time
                </th>
                <th>

                </th>

                <th>
                    <a asp-action="AddOrEdite" class="btn btn-custon-rounded-three btn-danger">ADD</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Outlets.Account
                    </td>

                    <td>
                        @item.User?.FirstName @item.User?.LastName
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @{
                            var time = item.Date.ToString("H:mm");
                        }
                        @Html.DisplayFor(modelItem => time)
                    </td>

                    <td>
                        <td>
                        <a asp-action="AddOrEdite" asp-route-id="@item.IdVisit" class="btn btn-success"><i class="fa fa-edit"></i>Edit</a>
                        <a asp-action="Deletee" asp-route-id="@item.IdVisit" class="btn btn-danger" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash-o"></i>Delete</a>
                        <a asp-action="DailyVisitsModel"class="btn btn-warning" ><i class="fa fa-file-text-o"></i>Models</a>
                        </td>
                    
                    
                </tr>
            }
        </tbody>
    </table>
