

@model IEnumerable<CE.Data.brands>



@using Microsoft.AspNetCore.Identity
@using CE.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}
<section class="content-header">
    <h1>
        <i class="fa fa-fw fa-qrcode"></i>
        Models
        <small>Brands</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#"> Models</a></li>
        <li class="active">Brands</li>
    </ol>
</section>
<hr />


<form asp-action="DownloadExcelDocumentBrands" method="post">
    <button name="export" class="btn btn-primary" type="submit">Export</button>
</form>

<form asp-action="ImportExcelDocumentBrands" method="post"
      enctype="multipart/form-data">
    <label for="file" class="btn">Select a file</label>
    <input class="hide" id="file" type="file" name="file" />
    <div id="file-name-container"></div>
    <button disabled id="submit-file-btn" class="btn btn-primary" name="import" type="submit">Import</button>
</form>







<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codebrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Namebrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>

            <th>
                <a asp-action="AddOrEditBrands" class="btn btn-block btn-primary">ADD</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codebrand)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Namebrand)

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>

                <td>
                    <a asp-action="AddOrEditBrands" asp-route-id="@item.codebrand" class="btn btn-block btn-success">Edit</a>
                    <a asp-action="DeleteBrands" asp-route-id="@item.codebrand" class="btn btn-block btn-danger" onclick="return confirm('Are you sure to delete this record?')">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>

