@model IEnumerable<CAP.Data.models>


@using Microsoft.AspNetCore.Identity
@using CAP.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}
<section class="content-header">
    <h1>
        <i class="fa fa-fw fa-qrcode"></i>
        Models
        <small>Model</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="#">Models</a></li>
        <li class="active">Model</li>
    </ol>
</section>
<hr />
<div class="input-group">
    <div class="readcome-heading">
        <form role="search" asp-action="Searchmodel" method="post">
            <input type="text" name="searchmodel" class="form-control" placeholder="Search...">
            <button type="submit" name="searchmodel" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>
<div>

    <form asp-action="DownloadExcelDocumentmodel" method="post">
        <button name="Exportvisitmodel" class="btn btn-custon-rounded-three btn-danger" type="submit">Export</button>
    </form>
    <form asp-action="ImportExcelDocumentmodel" method="post"
          enctype="multipart/form-data">
        <label for="file" class="btn">Select a file</label>
        <input class="hide" id="file" type="file" name="file" />
        <div id="file-name-container"></div>
        <button disabled id="submit-file-btn" class="btn btn-custon-rounded-three btn-danger" name="Importdatamodel" type="submit">Import</button>
    </form>


</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Brand
            </th>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Actions
                <a asp-action="AddOrEditModels" class="btn btn-block btn-primary">ADD</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Namebrand)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="AddOrEditModels" asp-route-id="@item.Code" class="btn btn-block btn-success">Edit</a>
                    <a asp-action="DeleteModels" asp-route-id="@item.Code" class="btn btn-block btn-danger" onclick="return confirm('Are you sure to delete this record?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
